<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="MI_FileName" value=".\resources\Employees_MI.csv"/>
    <add key="Word_Template" value="\resources\Letter_Format.docx"/>
    <add key="MI_FileName_NonPromo" value=".\resources\Employees_MI_NonPromo.csv"/>
    <add key="Word_Template_NonPromo" value="\resources\Letter_Format_NonPromo.docx"/>
    <add key="Word_files_dir" value="C:\tempd\MI_Docs\Word_Files\"/>
    <add key="pdf_files_dir" value="C:\tempd\MI_Docs\Pdf_Files\"/>


    <add key="SMTP_Server" value="mail.dieboldnixdorf.com"/>
    <add key="Email_Send_Flag" value="true"/>
    <add key="Email_From" value="nandini.roy@dieboldnixdorf.com"/>
    <add key="Email_CC" value="vishal.gautam@dieboldnixdorf.com"/>
    <add key="Email_Subject" value="Merit Increase 2017"/>
    <add key="Email_Body_File" value=".\resources\EmailBody.txt"/>
    
    
  </appSettings>
</configuration>